/* COMMON CSS */
body{
    margin:0px;
    font-family: poppins;
}
a{
    text-decoration: none;
}
.container {
    padding: 80px 10px;
    width: 1200px;
    margin: auto;
}
a#button,#log-button {
    width: 125px;
    color: white;
    background-color: #E02C6D;
    border: 1px solid #E02C6D;
    padding: 10px 24px;
    border-radius: 4px;
}
a#button i,#log-button i {
    margin:0px 5px;
}
a#button:hover,#log-button:hover {
    transition: 1s;
    background-color: white;
    color: black;
    border: 1px solid #E02C6D;
}
a#button:hover i {
    position: relative;
    left: 10px;
}
a#log-button:hover i{
    position: relative;
    right: 10px;
}
/* HEADER-CSS-START */
header.site-header {
    background-color: #2D25A0;
    display: none;
}
.header-container {
    padding: 30px 10px;
    width: 1220px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.site-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav.site-nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    margin-right: 20px;
}

/* TOP-BANNER-SECTION-CSS-START */
section.top-banner {
    background-color: #2D25A0;
}
.banner-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.right-banner img {
    width: 100%;
}
.left-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-banner h1{
    width: 450px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
}
/* BLOG-SECTION-CSS-START */
.articles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}
.article {
    box-shadow: #0000002e 0px 0px 10px;
    padding: 14px;
    border-radius: 4px;
}
article.article img {
    width: 100%;
    border-radius: 4px;
}
.article-head h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 6px 0px;
}
p.article-details {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* HIGHLIGHTS-SECTION-CSS-START */
.highlights {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px 50px;
}
.left-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-highlight h2 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
}
.left-highlight p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 40px;
}
.right-highlight img {
    width: 100%;
}
/* CONTACT SECTION CSS START */
.contact-head h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
form.contact-form,.subscribe {
    padding: 0% 22%;
}
form.contact-form input, textarea ,#form-submit{
    display: block;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #10437A;
    border-radius: 10px;
    box-shadow: #10437a2e 0px 0px 16px;
}
.input-grid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}
form.contact-form input::placeholder, textarea::placeholder,#form-submit,form.subscribe #s-email::placeholder{
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 400;
}
button#form-submit:hover,button#s-submit:hover {
    background-color: #10437A;
    color: white;
    transition: 1s;
}
button#form-submit {
    width: 104%;
    margin-top: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}
/* SUBSCRIBE SECTION css START */
form.subscribe {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
form.subscribe #s-email, form.subscribe button#s-submit{
    display: block;
    width: 100%;
    padding: 20px;
    border: 2px solid #10437A;
    border-radius: 30px;
}
button#s-submit {
    position: relative;
    left: -10%;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins';
}/* Button hover effect styled at line:170 */
/* FOOTER-CSS-START */
footer.site-footer {
    padding-top: 80px;
    padding-bottom: 40px;
}
.footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ft-image img {
    width: 490px;
    height: auto;
}
.ft-icons i {
    color: #969BAB;
    background-color: #E7E7E8;
    padding: 10px;
    font-size: 22px;
    margin: 5px 10px;
    border-radius: 100%;
}
.ft-copyright {
    font-size: 18px;
}
/* TABLET RESPONSIVE CSS STARTS HERE */
@media only screen and (min-width:689px) and (max-width:1025px){
    .container{
        width:90%;
        margin:auto;
        padding:5% 5%;
    }
    .right-banner{
        text-align:right;
    }
    .left-banner h1{
        font-size:40px;
    }
    .articles{
        grid-template-columns:repeat(2,1fr);
    }
    p.article-details{
        font-size:20px;
    }
    .left-highlight h2{
        font-size:30px;
        margin-bottom:0px;

    }
    .left-highlight p{
        margin:15px 0px;
        font-size:20px;
    }
    .right-highlight img{
        height:100%;
    }
    .contact-head h2{
        margin:2%;
        font-size:40px
    }
    a#button, #log-button{
        font-size:14px;
        width:110px;
    }
}