/* COMMON CSS */
body{
    margin:0px;
    font-family: poppins;
}
a{
    text-decoration: none;
}
.container {
    padding: 80px 10px;
    width: 1200px;
    margin: auto;
}
a#button {
    color: white;
    background-color: #E02C6D;
    width: 110px;
    padding: 10px 24px;
    border-radius: 4px;
}
/* TOP-BANNER-SECTION-CSS-START */
section.top-banner {
    background-color: #2D25A0;
}
.banner-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.right-banner img {
    width: 100%;
}
.left-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-banner h1 {
    width: 450px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
}
/* BLOG-SECTION-CSS-START */
.articles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}
.article {
    box-shadow: #0000002e 0px 0px 10px;
    padding: 14px;
    border-radius: 4px;
}
article.article img {
    width: 100%;
    border-radius: 4px;
}
.article-head h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 6px 0px;
}
p.article-details {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}